# Игнорируем модель и связанные большие файлы
models/
*.gguf

# Игнорируем llama.cpp, если ты её клонировал внутрь проекта
llama.cpp/

# Файлы Python
__pycache__/
*.pyc

# Конфигурации IDE
.vscode/
.idea/

# Файлы OS
.DS_Store